rules:
    max-len:
        - error
        - 120
        - 4
    wrap-iife:
        - error
        - inside
    no-extend-native: off
    valid-jsdoc:
        - error
        - requireReturn: false
          requireReturnDescription: false
    no-trailing-spaces: error
    semi: error
    curly: error
    quotes: error
    no-with: error
    no-continue: error
    no-nested-ternary: error
    no-irregular-whitespace:
        - error
        - skipStrings: false
          skipTemplates: false
    no-tabs: error
    dot-notation: error
    keyword-spacing: error
    space-before-blocks: error
    space-unary-ops: error
    space-infix-ops: error
    key-spacing: error
    comma-spacing: error
    space-before-function-paren: error
    object-property-newline: error
    brace-style:
        - error
        - stroustrup
    new-cap: error
    eol-last: error
    camelcase: error
