{
    "extends": "@gmartigny/eslint-config",
    "globals": {
        "IS_DEV": false,
        "VERSION": false,
        "IS_BETA": false,
    },
    "rules": {
        "no-extend-native": [0],
        "no-new": [0]
    }
}
