/* 
    Created on : 22 déc. 2015, 13:32:37
    Author     : Guillaume
*/

* {
    position: relative;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
}

#resourceList, #peopleList {
    padding: 5px;
}

#resourceList {
    background-color: #e2bb6d;
}

#resourceList:empty:before {
    content: "A vast empty desert";
}

#resourceList .resource {
    display: inline-block;
    padding-right: 20px;
    margin: 0 5px;
    z-index: 1;
}

#resourceList .resource .icon {
    position: absolute;
    right: 0;
    top: 1px;
    width: 16px;
    height: 16px;
    background: url(img/icons.png) no-repeat;
}

#resourceList .resource:before, #resourceList .resource:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
}

#resourceList .resource.less:before, #resourceList .resource.more:after {
    animation: swoosh linear .7s forwards;
}

#resourceList .resource.less:before {
    animation-direction: reverse;
}

#resourceList .resource.less:before {
    background-color: #C55;
}

#resourceList .resource.more:after {
    background-color: #5C5;
}

@keyframes swoosh {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(.5);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}

#peopleList .people {
    border: 1px solid #666;
    min-width: 300px;
    padding: 5px 20px;
    margin: 5px 0;
    line-height: 30px;
    left: -100%;
    opacity: 0;
    transition: opacity ease-out .4s,
                left ease-out .4s;
}

#peopleList .people.arrived {
    left: 0;
    opacity: 1;
}

#peopleList .people.busy {
    background: #ECC;
}

#peopleList .people .bar {
    width: 100%;
    height: 7px;
    margin-bottom: 2px;
    transition: width ease-out .5s;
}

#peopleList .people .bar.warning {
    animation: flash .4s infinite alternate;
}

#peopleList .people .bar.life {
    background-color: #f52158;
}

#peopleList .people .bar.energy {
    background-color: #19f5ba;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    to {
        opacity: .3;
    }
}

#peopleList .people .actionList {

}

#peopleList .people .action {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 0 5px;
}

.clickable {
    cursor: pointer;
}

.clickable:not(.disabled):not(.cooldown):hover {
    text-decoration: underline;
}

.clickable.disabled {
    text-decoration: line-through;
    color: #666;
}

.clickable.cooldown {
    animation-name: cooldown;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    box-shadow: 0 0 0 0px #333 inset;
}

@keyframes cooldown {
    0% {
        box-shadow: 0 0 0 15px #555 inset;
    }
    to {
        box-shadow: 0 0 0 0 #555 inset;
    }
}

.tooltip {
    position: absolute;
    background: #333;
    width: 250px;
    color: #FFF;
    padding: 10px;
    border: 1px dashed #CCC;
    outline: 2px solid #333;
    z-index: 100;
}

.tooltip .title {
    font-weight: bold;
}

.tooltip .description {
    color: #F5F5F5;
    font-style: italic;
    font-size: 12px;
}

.tooltip .time {
    float: right;
}

.tooltip .consumption {
    margin-left: 15px;
    font-size: 14px;
}

.tooltip .consumption .resource:before {
    content: "✓ ";
}

.tooltip .consumption .resource.not-enough {
    text-decoration: line-through;
}

.tooltip .consumption .resource.not-enough:before {
    content: "✗ "
}