@import (reference) "../base";

// Incident bottom view
.incidentList {
    position: absolute;
    bottom: 42px;
    padding: 5px;

    width: 100%;

    .Incident {

        .Bar.timer {
            .colorBar(#f5eb57);
        }
    }
}