@import (reference) "../base";

// People's view
.peopleList {
    position: absolute;
    left: 0;
    top: @resourceListHeight;

    padding: 5px;

    width: 50%;
    height: @firstPartHeight;
    overflow: auto;

    .People {
        border: 1px solid #666;
        padding: 5px 20px;
        margin-bottom: 10px;
        line-height: 30px;
        left: -100%;
        background-color: #FFF;
        opacity: 0;
        transition: opacity ease-out .4s,
            left ease-out .4s;

        &.arrived {
            left: 0;
            opacity: 1;
        }

        &.busy {
            background-color: #CCC;

            .Action .name {
                background-color: #CCC;
            }
        }

        .name .Perk {
            display: inline;
            margin-left: 1em;
            font-style: italic;
            color: #333;
        }

        .Bar {
            &.life {
                .colorBar(#f52158);
            }

            &.energy {
                .colorBar(#19f5ba);
            }
        }

        .actionList {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
        }
    }
}