@import (reference) "../base";

// People's view
.peopleList {
    position: absolute;
    left: 0;
    top: 0;

    padding: 5px;

    width: 50%;
    height: 100%;
    overflow: auto;

    .People {
        border-radius: 2px;
        box-shadow: 0 1px 3px @shadowColor;
        padding: 5px 20px;
        margin-bottom: 10px;
        background-color: #FFF;

        // animated
        opacity: 1;
        transition: opacity linear @appearanceDuration,
            transform ease-out @appearanceDuration;

        &@{hidden} {
            transform: translate3d(-100%, 0, 0);
            opacity: 0;
        }

        &.busy {
            background-color: #C0C0C0;

            .Action .name {
                background-color: fade(@terminalBack, 20%);
            }
        }

         > .name {
            padding: .4em 0;

            .Perk {
                display: inline;
                margin-left: 1em;
                font-style: italic;
                color: #333;
            }
        }

        .actionList {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
        }
    }
}