@import (reference) "animations";

.initPseudo () {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div {
    position: relative;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-size: 16px;
    background-color: #FFF;
}

.Bar {
    width: 100%;
    height: 7px;
    margin-bottom: 2px;

    .value {
        width: 100%;
        height: 100%;
        border-radius: 0 5px 0 0;
        transition: width ease-out .5s;
    }

    &.warning .value {
        animation: flash .4s infinite alternate;
    }

    &.ongoing .value {
        animation-name: ongoing;
        animation-timing-function: linear;
    }
}
.colorBar (@color) {
    background-color: fade(@color, 10%);
    .value {
        background-color: @color;
    }
}

@resourceListHeight: (16 + 5) * 2px;
@firstPartHeight: ~'calc(60% -' @resourceListHeight/2 ~')';
@secondPartHeight: ~'calc(40% -' @resourceListHeight/2 ~')';

@actionsZIndex: 10;
@tooltipZIndex: 100;
@backdropZIndex: 500;
@popupZIndex: 510;
@pauseZIndex: 600;
