@import (reference) "animations";

.initPseudo () {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@resourceListHeight: (16 + 5) * 2px;
@firstPartHeight: ~'calc(60% -' @resourceListHeight/2 ~')';
@secondPartHeight: ~'calc(40% -' @resourceListHeight/2 ~')';

@mainBackgroundColor: #333;
@shadowColor: rgba(0, 0, 0, .5);

@optionsZIndex: 10;
@tooltipZIndex: 700;
@backdropZIndex: 1000;
@popupZIndex: 1010;
@pauseZIndex: 1020;

@appearanceDuration: .3s;

@container: body;
@hidden: ~'[aria-hidden="true"]';

// Reset rules
html {
    height: 100%;
}
body {
    margin: 0;
}

// Game container
@{container} {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: @mainBackgroundColor;
    font-family: Dosis, sans-serif;

    &.loading:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 60px;
        height: 60px;
        border: 2px solid #FFF;
        border-radius: 50%;
        top: ~'calc(50% - 30px)';
        z-index: -1;

        animation: pulse ease-in infinite 1s;
    }

    div {
        position: relative;
        box-sizing: border-box;
    }

    .quote {
        font-style: italic;
        color: #888;

        &:before, &:after {
            content: ' " ';
        }
    }

    b {
        font-weight: bold;
        color: #164b80;
    }
}
