@import (reference) "base";

#buildingsList {
    padding: 5px;

    width: 50%;
    height: ~'calc(50% -' @resourceListHeight/2 ~')';
    float: left;

    .building {
        border: 1px solid #666;

        .counter {
            display: inline-block;
            margin-left: 1em;
        }
    }
}