.Clickable {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000;
    padding: 0 10px;
    margin-right: .5em;
    line-height: 30px;

    &:not(.disabled):not(.cooldown):hover {
        text-decoration: underline;
    }

    &.disabled {
        text-decoration: line-through;
        color: #666;
    }

    &.cooldown {
        animation-name: cooldown;
        animation-timing-function: linear;
    }
}
