#eventList {
    position: absolute;
    bottom: 0;
    padding: 5px;

    width: 100%;

    .Event {

        .bar {
            background-color: #f5eb57;
        }

        &.ongoing .bar{
            animation-name: ongoing;
            animation-timing-function: linear;
        }
    }
}