@import (reference) "base";

.eventList {
    position: absolute;
    bottom: 0;
    padding: 5px;

    width: 100%;

    .Event {

        .Bar.timer {
            .colorBar(#f5eb57);
        }
    }
}