@import (reference) "base";

#logs {
    position: absolute;
    top: @resourceListHeight;
    left: 50%;
    padding: 5px;

    width: 50%;
    height: @firstPartHeight;

    &:after {
        .initPseudo();
        background: linear-gradient(rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
    }

    .log {
        padding: 5px;
        border-bottom: 1px dashed #DDD;

        &.info {
            color: #111;
        }
        &.warning {
            color: #c53635;
        }
        &.flavor {
            color: #888;
        }
        &.event {
            color: #164b80;
        }
    }
}