@import (reference) "base";

.logs {
    position: absolute;
    left: 50%;
    top: 0;

    padding: 5px;

    width: 50%;
    height: 100%;
    overflow: hidden;

    @mask: linear-gradient(#000 50%, transparent 100%);
    mask-image: @mask;
    -webkit-mask-image: @mask;

    .log {
        padding: 5px;
        border-bottom: 1px dashed #333;
        font-size: .9rem;

        &.quote {
            font-size: 1.3rem;
        }
        &.info {
            color: #111;
        }
        &.warning {
            color: #c53635;
            font-size: 1.1rem;
        }
        &.event {
            color: #164b80;
        }
    }
}