@import (reference) "base";

.tooltip {

    @background: #333;

    position: absolute;
    top: -500px;
    left: -300px;
    background: @background;
    width: 300px; // linked to calculation
    max-height: 500px;
    color: #FFF;
    padding: 10px;
    border: 1px dashed #CCC;
    outline: 2px solid @background;
    z-index: @tooltipZIndex;

    .title {
        font-weight: bold;
    }

    .description {
        color: #F5F5F5;
        font-style: italic;
        font-size: 12px;
    }

    .time {
        float: right;
    }

    .consumption {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 15px;
        font-size: 14px;

        .resource {

            &:before {
                content: "✓ ";
            }

            &.not-enough {
                text-decoration: line-through;

                &:before {
                    content: "✗ "
                }
            }
        }
    }

}