@import (reference) "base";

.visualPane {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background: linear-gradient(190deg, #e2c473 0%, #e2a673 50%);

    width: 100%;
    height: @secondPartHeight;
    min-height: 300px;

    .layer {
        position: absolute;
    }
}