@import (reference) "base";

.visualPane {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: #e2a673;

    width: 100%;
    height: @secondPartHeight;
    min-height: 300px;

    .layer {
        position: absolute;
    }
}